doctype html  
html(lang='en')  
 head
   title Pug
 body
    .sidebar
        .profile
            p.title Bouali Kamel
            img.profile-pic(src="https://avatars3.githubusercontent.com/u/37594056?s=460&amp;v=4")
        ul
            li
                img(src="./assets/icons/001-book.svg").home
                p Home
            li
                div.stats
                p Stats
            li
                div.maps
                p Maps
            li
                div.skills
                p Skills
            li
                div.contact
                p Contact
               
                